@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title --> 
    <title>@ViewData["Title"] | My SSO</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Noto+Sans:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

    <div id="container">

        <header>
            <a asp-area="" asp-controller="Home" asp-action="Index" id="header-link"><h1>My SSO</h1></a>
        </header>

        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">Startsida</a>
            <a asp-area="" asp-controller="Home" asp-action="About">Om SSO</a>
            @if (SignInManager.IsSignedIn(User)) { // Only show if logged in
                <a asp-area="" asp-controller="Home" asp-action="Horses">Dina hästar</a>
                <a asp-area="" asp-controller="Home" asp-action="Notes">Anteckningar</a>
            }
        </nav>

        <partial name="_LoginPartial" />

        <div id="main-content">
            <main>
                @RenderBody()
            </main>
        </div>

        <footer>
            <p>Webbplats skapad av Ebba Hansson i kursen <i>Webbutveckling med .NET</i></p>
        </footer>

    </div>

    <!-- JavaScript -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
