@{
    ViewData["Title"] = "Om SSO";
}

<h2>Om SSO</h2>
<p>Star Stable är ett spännande onlinespel där äventyr, hästar och mysterier väntar på att upplevas.</p>

<div class="flexbox">

    <div class="card">
        <h3>Rid i en spännande värld</h3>
        <p>Välkommen till Jorvik, en förtrollad ö full av oändliga äventyr. Tillsammans med din egen häst blir du en del av en magisk historia medan du utforskar en fantastisk värld från sadeln.</p>
        <img src="https://www.datocms-assets.com/65346/1648052370-frontpage-world-final.webp?dpr=4" alt="Tjej som rider på en häst" />
    </div>

    <div class="card">
        <h3>Sköt om & träna dina hästar</h3>
        <p>Rid, tävla och sköt om dina alldeles egna hästar. Jorvik är hem åt en mängd olika hästar, från vackra verkliga raser till spektakulära magiska hästar – var och en med unika utseenden och personligheter.</p>
        <img src="https://www.datocms-assets.com/65346/1648052373-frontpage-train-final.jpg?dpr=4" alt="Fyra olika sorters hästar står uppradade" />
    </div>

    <div class="card">
        <h3>Spela med dina vänner</h3>
        <p>Bli kompis med spelare från hela världen, träffas och dela era äventyr. Ni kan rida tillsammans, chatta och till och med skapa era egna ridklubbar.</p>
        <img src="https://www.datocms-assets.com/65346/1648052349-frontpage-friends-final.jpg?dpr=4" alt="Fyra ryttare som rider tillsammans" />
    </div>

    <div class="card">
        <h3>Lös uppdrag & mysterier</h3>
        <p>Massor av fängslande karaktärer och spännande mysterier väntar på dig i Star Stable Online. Lös uppdragen och upplev den episka historien tillsammans med invånarna på Jorvik.</p>
        <img src="https://www.datocms-assets.com/65346/1648052346-frontpage-adventure-final.jpg?dpr=4" alt="En tjej ridandes på en häst som flyr ett monster" />
    </div>

</div>

<br /><br />
<i>Text och bilder tagna från <a href="https://www.starstable.com/se#game">Star Stable Online</a>.</i>