@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    @model NET_Project.Models.Horse;
    ViewData["Title"] = "Ändra häst";
}

@if (SignInManager.IsSignedIn(User)) { // Only show if logged in

<h2>Ändra häst</h2>

<form method="post" id="horse-form">

    <div asp-validation-summary="ModelOnly"></div>

    @Html.HiddenFor(model => model.HorseId)

    <div class="form-box">
        <label asp-for="Owner">Ägares namn:</label><span asp-validation-for="Owner"></span><br />
        <input asp-for="Owner"><br />
    </div>

    <div class="form-box">
        <label asp-for="Name">Hästens namn:</label><span asp-validation-for="Name"></span><br />
        <input asp-for="Name"><br />
    </div>

    <div class="form-box">
        <label asp-for="Nickname">Smeknamn:</label><br />
        <input asp-for="Nickname">
    </div>

    <div class="form-box">
        <label asp-for="Gender">Kön:</label><span asp-validation-for="Gender"></span><br />
        <select asp-for="Gender">
            <option value="Sto">Sto</option>
            <option value="Hingst">Hingst</option>
            <option value="Valack">Valack</option>
        </select><br />
    </div>

    <div class="form-box">
        <label asp-for="Breed">Ras:</label><span asp-validation-for="Breed"></span><br />
        <input asp-for="Breed">
    </div>

    <div class="form-box">
        <label asp-for="Level">Level:</label><span asp-validation-for="Level"></span><br />
        <input asp-for="Level">
    </div>

    <div class=form-box>
        <label asp-for="Info">Anteckning:</label><br />
        <textarea asp-for="Info"></textarea>
    </div>

    <div class="form-box">
        <input type="submit" value="Lägg till" class="submit-btn">
    </div>

</form>

}

