@{
    ViewData["Title"] = "Startsida";
}

<h2>Välkommen!</h2>

<p>Här kan du lagra information om ditt SSO-spelade och hitta hjälpsam information om spelet.</p>

<h3>Senaste nyheterna</h3>

<p>...</p>

<h3>Senast tillagda hästar</h3>

<p>...</p>