/*
-- FÄRGKODER

- Main
#e53bb9 (pink)
#231e1e (dark brown)
#ffffff (white)

- Secondary
#382215 (brown)
#e6c7aa (beige)
#f9f4ec (cream white)

- Extra
#8059b8 (dark purple)
#897cf8 (purple)
#fcd349 (yellow)
#cba144 (dark gold)
#e1c26e (gold)
#ecda9b (light yellow)


-- FONTER
Fugaz One (stylized)
Noto Sans (text)

*/

body {
  margin: 0;
  background-color: #f9f4ec;
}

#container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  background-image: url(../header.png);
  background-position: center;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  text-align: center;
  margin: 0;
  font-size: 5em;
  color: white;
}

#header-link {
  text-decoration: none;
}

nav {
  background-color: #231e1e;
  padding: 1em;
  display: flex;
  gap: 50px;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2em;
  transition: 0.3s;
}

nav a:hover {
  color: #e53bb9;
}

#main-content {
  flex-grow: 1;
  padding: 1em 3em;
  background-color: white;
}

main img {
  max-width: 400px;
}

h1, h2, h3, h4 {
  font-family: 'Fugaz One', sans-serif;
}

h2 {
  color: #e53bb9;
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

p, i, em, strong, b {
  font-family: 'Noto Sans', sans-serif;
}

#main-content a {
  color: #e53bb9;
  font-weight: bold;
  text-decoration: none;
}

#main-content a:hover {
  text-decoration: underline;
}

footer {
  font-size: 0.8em;
  background-color: #231e1e;
  color: white;
  text-align: center;
  padding: 1em;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  max-width: 500px;
  background-color: #f9f4ec;
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
}

#horse-table {
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  border-collapse: collapse;
}

table {
  width: 100%;
}

th, td {
  border-bottom: 1px #3f3d3c solid;
}

th {
  background-color: #e53bb9;
  color: white;
  padding: 0.5em;
}

td {
  padding: 1em 0.5em;
  text-align: center;
}

#horse-form {
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

#register-form, #login-form, #notes-form {
  font-family: 'Noto Sans', sans-serif;
}

.form-floating {
  display: flex;
  flex-direction: column-reverse;
}

.form-floating label {
  font-weight: bold;
}

#login-links a {
  font-style: italic;
}

input[type=text], input[type=number], select, input[type=email], input[type=password], textarea {
  padding: 0.5em;
  width: 300px;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  font-family: 'Noto Sans', sans-serif;
}

textarea {
  width: 500px;
  height: 150px;
  font-family: 'Noto Sans', sans-serif;
  white-space: pre-wrap;
}

input[type=checkbox] {
  margin-bottom: 1em;
}

select {
  width: 317px;
}

input[type=submit] {
  padding: 0.7em;
  background-color: #e53bb9;
  color: white;
  border: none;
  font-family: 'Fugaz One', sans-serif;
}

.submit-btn {
  align-self: flex-end;
  padding: 0.7em;
  background-color: #e53bb9;
  color: white;
  border: none;
  font-family: 'Fugaz One', sans-serif;
}

.submit-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.validation-msg {
  font-size: 0.7em;
  color: rgb(201, 31, 31);
  font-weight: bold;
  font-style: italic;
  align-self: flex-end;
}

.navbar-nav {
  display: flex;
  gap: 30px;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f9f4ec;
  align-items: center;
  padding-left: 1em;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #231e1e;
}

.pink-highlight {
  color: #e53bb9;
}

.pink-highlight:hover {
  font-weight: bold;
}

.btn-link {
  padding: 0.5em;
  background-color: #e53bb9;
  color: white;
  border: none;
  font-family: 'Fugaz One', sans-serif;
}

.btn-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pink-link {
  font-family: 'Fugaz One', sans-serif;
  color: #e53bb9;
  text-decoration: none;
  font-size: 1.2em;
}

.pink-link:hover {
  text-decoration: underline;
}

.small-text {
  font-size: 0.9em;
}

.note-box {
  border-bottom: 1px solid #d3d3d3;
  max-width: 600px;
  padding-bottom: 1em;
}

/* För mobila enheter */
@media (max-width: 600px) {

  nav {
    flex-direction: column;
  }

  table {
    font-size: 0.7em;
  }
}